.container{
    padding: 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #efc22b;
    border-radius: 5px;
    cursor: pointer;
}
img{
    margin: 20px 0;
    width: 25%;
}