<form (ngSubmit)="onSubmit()">
    <div *ngIf=showPersonalData>
        <app-item-form-order [placeholder]="'count'" [span]="'count'" [formControlNameValue]="orderForm.get('count')">
        </app-item-form-order>
        <app-item-form-order [placeholder]="'price'" [span]="'price'"
            [formControlNameValue]="orderForm.controls['fuel'].get('price')"></app-item-form-order>
        <app-item-form-order [placeholder]="'unit'" [span]="'unit'"
            [formControlNameValue]="orderForm.controls['fuel'].get('unit')"></app-item-form-order>
        <app-item-form-order [placeholder]="'description'" [span]="'description'"
            [formControlNameValue]="orderForm.get('description')">
        </app-item-form-order>
        <nav>
            <button type="button" (click)="toggleScreen('orderDetails')">Dalej</button>
        </nav>
    </div>

    <div *ngIf=showOrderDetails>
        <app-item-form-order [placeholder]="'email@email.com'" [span]="'Email'"
            [formControlNameValue]="orderForm.get('email')">
        </app-item-form-order>
        <app-item-form-order [placeholder]="'city'" [span]="'city'"
            [formControlNameValue]="orderForm.controls['addressDelivery'].get('city')"></app-item-form-order>
        <app-item-form-order [placeholder]="'phoneNumber'" [span]="'phoneNumber'"
            [formControlNameValue]="orderForm.get('phoneNumber')">
        </app-item-form-order>
        <app-item-form-order [placeholder]="'buildingNumber'" [span]="'buildingNumber'"
            [formControlNameValue]="orderForm.controls['addressDelivery'].get('buildingNumber')"></app-item-form-order>
        <app-item-form-order [placeholder]="'street'" [span]="'street'"
            [formControlNameValue]="orderForm.controls['addressDelivery'].get('street')"></app-item-form-order>
        <app-item-form-order [placeholder]="'postalCode'" [span]="'postalCode'"
            [formControlNameValue]="orderForm.controls['addressDelivery'].get('postalCode')"></app-item-form-order>
        <nav>
            <button type="button" (click)="toggleScreen('personalData')">Poprzedni krok</button>
            <button type="submit">Zatwierdź</button>
        </nav>
    </div>
</form>