<div class="container">
    <div class="main-section">
        <div class="about-application display">
            <div class="square"></div>
            <h2>About the application, about the application, about the application.
                About the application, about the application, about the application.
                About the application.
            </h2>
            <p>About the application, about the application, about the application.
                About the application, about the application, about the application.
                About the application, about the application, about the application.
                About the application, about the application, about the application
                About the application, about the application, about the application.
                About the application, about the application, about the application.
                About the application, about the application, about the application.
                About the application, about the application</p>
        </div>
        <div class="application-screen display">
            <img src="../../../assets/img/surprised_woman.png" alt="image-surprised-woman">
        </div>
    </div>
    <footer>
        <div class="bottom-square"></div>
        <div class="bottom-square"></div>
        <div class="bottom-square"></div>
        <div class="bottom-square"></div>
    </footer>
</div>