$custom-pink-color: #d05484;

.main-section{
    display: flex;
    height: 95vh;
    width: 100vw;
    
    min-width: 1000px;
    min-height: 600px;
}
.about-application{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 120px;
}
.display{
    width: 50%;
}
.square{
    background-color: $custom-pink-color;
    align-self: flex-start;
    width: 200px;
    height: 20px;
    border-radius: 1px;
}
h2{
    margin: 5px 0 40px 0;
    line-height: 32px;
}
p{
    line-height: 24px;
}
.application-screen{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
img{
    height: 80%;
}
footer{
    height: 5vh;
    background-color: $custom-pink-color;
    display: flex;
    align-items:flex-end;
    justify-content:space-around;

    min-width: 1000px;
}
.bottom-square{
    background-color: #f8e59a;
    height: 33%;
    width: 10%;
    border-radius: 10px 10px 0 0;
}



/* responsiveness */



@media only screen and (max-width: 1600px){
    h2{
        font-size: 1.35em;
        line-height: 28.8px;
    }
    p{
        font-size: 0.9em;
        line-height: 21.6px;
    }
    img{
        height: 70%;
    }
}

@media only screen and (max-width: 1450px){
    h2{
        font-size: 1.2em;
        line-height: 25.6px;
    }
    p{
        font-size: 0.8em;
        line-height: 19.2px;
    }
    img{
        height: 60%;
    }
    .about-application{
        width: 60%;
    }
    .application-screen{
        width: 40%;
    }
}

@media only screen and (max-width: 1250px){
    img{
        height: 50%;
    }
    .about-application{
        width: 70%;
    }
    .application-screen{
        width: 30%;
    }
}