<div class="container">
    <div class="main-section">
        <div class="about-application">
            <div class="square"></div>
            <h1>About the application</h1>
            <p>About the application, about the application</p>
            <p>About the application, about the application</p>
            <p>About the application, about the application</p>
        </div>
        <div class="application-screen">
            <img src="" alt="Application Screen Coming Soon!">
        </div>
    </div>
    <footer></footer>    
</div>