$custom-pink-color: #d05484;

.main-section{
    display: flex;
    height: 95vh;
    width: 100vw;
}
.about-application{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 120px;
}
.display{
    width: 50%;
}
.square{
    background-color: $custom-pink-color;
    align-self: flex-start;
    width: 200px;
    height: 20px;
    border-radius: 1px;
}
h2{
    margin: 5px 0 40px 0;
    line-height: 32px;
}
p{
    line-height: 24px;
}
.application-screen{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
img{
    height: 90%;
}
footer{
    height: 5vh;
    background-color: $custom-pink-color;
    display: flex;
    align-items:flex-end;
    justify-content:space-around;
}
.bottom-square{
    background-color: #f8e59a;
    height: 33%;
    width: 10%;
    border-radius: 10px 10px 0 0;
}