<div class="container">
    <div class="main-section">
        <div class="about-application display">
            <div class="square"></div>
            <h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla placerat ullamcorper. Aliquam vitae est et dui iaculis finibus et commodo lacus. Morbi tincidunt orci arcu, non tempus orci dapibus vitae.
            </h2>
            <p>
                Vivamus diam ex, molestie quis neque eu, blandit sodales enim. Pellentesque egestas lacus et nisl mollis dignissim quis id massa. Aliquam elementm sollicitudin arcu. Quisque nec est blandit, convallis orci vel, tincidunt ante. Maecenas vitae iaculis arcu. Ut sagittis arcu nec felis condimentum, eu tristique tortor porta. W hac habitasse platea dictumst. Donec dignissim lacus a lorem elementum, scelerisque facilisis nibh ultricies. Praesent facilisis, dui ac gravida dictum, felis lectus mocm nunc, vel aliquet erat arcu id orci. Duis velit felis, suscipit nec mollis eget, lacinia et enim.
            </p>
        </div>
        <div class="application-screen display">
            <img src="../../../assets/img/surprised_woman.png" alt="image-surprised-woman">
        </div>
    </div>
    <footer>
        <div class="bottom-square"></div>
        <div class="bottom-square"></div>
        <div class="bottom-square"></div>
        <div class="bottom-square"></div>
    </footer>
</div>