<div class="container">
    <div class="order-list">
        <div *ngFor="let item of dataOrderList; let index = index">
            <app-order-list-block [data]="item" (click)="activateOrderPreview(index)">
            </app-order-list-block>
        </div>
    </div>
    <app-popup class="popup" *ngIf="activeView" (disablePopup)="exitOrderPreview()">
        <app-order-preview [data]="dataOrderPreview" [activeIndex]="activeIndex" [maxIndex]="dataOrderList.length-1"
            (changePreviewOrder)="changePreviewOrder($event)">
        </app-order-preview>
    </app-popup>
</div>