.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #efc22b;
    border-radius: 5px;
    width: 20vw;
}
img{
    margin: 10px 0;
    width: 25%;
}
span{
    padding-left:10px;
}