.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #efc22b;
    border-radius: 5px;
    width: 20vw;
}
img{
    margin: 15px 0;
}
span{
    padding-left:10px;
}