.view-with-popup{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;    
    justify-content: center;
}
.popup{
    background-color: white;
    border-radius: 10px;
    z-index: 2;
}
.view-around-popup{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background-color: black;
    opacity: 0.5;
}