.container{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-break: break-word;
}
.table{
    display: flex;
}

.column {
    width: 33%;

    div{
        border-bottom: 1px gray solid;
        padding: 5px 10px;
    }
    .title{
        font-weight: bold;
        color: white;
        background-color: #5c3092;
        border: none;
        padding: 10px;
    }
}

.description{
    text-align: center;
    margin: 30px 0;
}
.description span{
    font-weight: bold;
}
footer{
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.current-order-number{
    font-weight: bold;
    position: absolute;
    left: 80px;
}
.btns{
    display: flex;
    column-gap: 40px;
}


/* responsiveness */




@media only screen and (max-width: 1450px){
    .container{
        width: 50vw;
    }
    .btns{
        column-gap: 30px;
    }
}

@media only screen and (max-width: 1250px){
    .container{
        width: 60vw;
    }
    .btns{
        column-gap: 20px;
    }
}