.shopping-options-container{
    position: absolute;
    width: 100vw;
    margin-top: 15vh;
    display: grid;
    justify-content:center;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    column-gap: 25px;
    row-gap: 25px;
}