.container{
    display: flex;
    justify-content:center;
    width: 100vw;
}
.shopping-options-container{
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    column-gap: 35px;
    row-gap: 35px;
    margin-bottom: 35px;
}
.popup{
    position: absolute;
    z-index: 1;
}
.toast{
    position: fixed;
    right: 50px;
    top: 25px;
    z-index: 2;
}