.active {
    text-decoration: underline;
    text-decoration-color: #5a1a77;
    text-underline-offset: 10px;
}
h1{
    color: #545454;
    font-weight: 400;
}
a{
    color: #545454;
    transition: all 3s ease 0s;
    padding: 0 20px;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: #5a1a77;
    transition: all 0.5s ease 0s;
}
.container{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo img{
    height: 50px;
    cursor: default;
}